/** https://css-tricks.com/snippets/html/responsive-meta-tag/ Render at browser window size. */
 @-ms-viewport{
     width: device-width;
}
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
 html {
     background: #fffdf9;
}
 body {
     font-family: "Tahoma", "Geneva", "sans-serif";
     font-size: 1em;
    /* max-width: 1200px; */
     background: white;
     margin: auto;
}
 h1 {
     font-family: "Tahoma", "Geneva", "sans-serif";
     color: grey;
     text-align: center;
     font-size: 1.4em;
     font-weight: 300;
     /*test */
     padding-left: 2em;
}
 p {
     font-family: "Tahoma", "Geneva", "sans-serif";
     font-size: 0.85em;
}
/* Styled titles */
 .h3body {
     text-align: center;
     color: burlywood;
     text-shadow: 1px 1px black;
     font-size: 30px;
     font-family:'serif';
}
/* h4 headings */
 .headings {
     font-family: "Verdana", "Geneva", "sans-serif";
     font-size: 0.8em;
     text-align: center;
}
/* Font styles for content and headings https://www.w3schools.com/cssref/css_websafe_fonts.asp */
 .content {
     font-family: "Tahoma", "Geneva", "sans-serif";
     font-size: 0.5em;
     letter-spacing: 1.5px;
     text-align: justify;
     border: 2px solid #FFF;
     padding-bottom: 10px;
     line-height: 1.2em;
}
/* Hero image styles */
 .hero-image {
     background-image: url(../images/blackandwhite.jpg);
     height: 6em;
     min-height: 27em;
     position: relative;
     display: block;
     padding: 10em;
     background-attachment: fixed;
     background-position: bottom;
     background-repeat: no-repeat;
     background-size: cover;
}
 @media only screen and (max-device-width: 1366px) {
     .hero-image {
         background-attachment: scroll;
    }
}
/* Hero image text positioning */
 #wrapper {
     text-align: center;
     position: absolute;
     top: 50%;
     transform: translate(-50%, -50%);
}
 .welcome {
     font-size: 6em;
     color: oldlace;
     text-shadow: -6px -1px 19px black;
}
/* End of hero image styles */
/* Header and nav container */
 .container {
     display: flex;
     flex-direction: column;
     padding: 1em 0;
     border-bottom: 1px solid #909090;
     margin-bottom: 0.1em;
}
 .navbar {
     width: inherit;
     margin: 0;
     text-align: center;
}
 .navbar a {
     color: grey;
     padding: 0.5em;
     text-decoration: none;
     border-bottom: 1px solid #dab506;
}
 .navbar a:hover {
     background-color: antiquewhite;
}
 .navbar a.active {
     color: white;
}
/* First query active for welcome */
 @media screen and (min-width: 1274px) {
     #wrapper {
         left:47%;
    }
}
 @media screen and (max-width: 1273px) {
     #wrapper {
         left: 44%;
    }
}
 @media screen and (max-width: 833px) {
     #wrapper {
         left: 44%;
    }
}
 @media screen and (max-width: 649px) {
     #wrapper {
         left: 34%;
    }
}
 @media screen and (max-width: 430px) {
     #wrapper {
         left: 31%;
    }
}
/* Last query */
/* Target when browser window is <= 900px 
   Create a fixed nav for tablets and mobiles */
 @media screen and (max-width: 900px) {
     .navbar {
    /* width: inherit; */
    /* margin: 0; */
    /* text-align: center; */
    position: fixed; 
    display: block; 
    overflow: hidden; 
    background-color: black;
    position: fixed;
    top: -1em;
    width: 100%;
    z-index: 1;
    }
     .navbar a {
    color: grey;
    display: block;
    padding: 0.5em;
    text-decoration: none;
    border: none;
         
    }
     .navbar a:hover {
         background-color: antiquewhite;
    }
     .navbar a.active {
         color: white;
    }
     li {
         padding: 0 !important;
    }
     ul {
         margin-top: 1em;
    }     
} 
     .welcome {
         font-size: 4em;
    }
}
/* End of query */
 nav {
     margin: 1.5em 0 0 5%;
}
 header ul li {
     display: inline;
     padding: 0 0.6em 0 0;
     font-size: 0.9em;
}
 @media screen (min-width: 320px) {
     .welcome {
         font-size: 4em;
    }
}
/* End of query*/
/* Laptop and above styles */
 @media screen and (min-width: 769px) {
     /* Bigger nav elements for larger resolutions */
     ul {
         font-size: 1.2em;
     }
     h1 {
         padding-left: 2em;
    }
    /* Space the header and the nav items */
     .container {
         flex-direction: row;
         justify-content: space-between;
         padding: 0em 5em;
    }
     .logo {
         margin-left: 2.3em;
    }
     nav {
         align-self: center;
         margin: 0 0.8em 0 0;
    }
}
/* End of query */
/* Resize the navbar to work at 1170px or less */
@media screen and (max-width: 1170px) {
    .container {
        padding: 0;
    }
    ul {
        font-size: 1em;
    }
}
/* End of query*/
/*test*/
@media screen and (max-width: 866px) {
    .navbar a {
        color: #808081;
    }
} 
    
/* End of query*/
/* Back to top button */
 .topbtn {
     float: right;
     background-color: rgb(216, 214, 214);
     border: none;
     border-radius: 4px;
     color: white;
     text-align: center;
     text-decoration: none;
     font-size: 20px;
     padding: 10px;
     margin-top: 0.6em;
}
 .topbtn:hover {
     color: rgb(6, 98, 196);
     background-color: rgb(234, 234, 234);
}
/* Footer styles */
 footer {
     margin-top: 0px;
     clear: both;
     padding: 1.2em;
     font-size: 0.8em;
     font-weight: bold;
     color: black;
     text-align: center;
}
/* Keep the footer links one colour */
 .footerclicked:visited {
     color: grey;
}
/* When browswer window is 768px or less, make the padding 0 */
 @media screen and (max-width: 768px) {
     .flex-container {
         padding: 0em !important;
    }
}
     /* test */
    /*  #wrapper {
         left: 51%; */

/* Intro flex boxes */
 .flex-container {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     align-items: center;
     margin-top: 2em;
     padding: 0em 5em;
}
 .flex-container > div {
     background-color: white;
     width: 100px;
     margin: 10px;
     text-align: center;
     line-height: 75px;
     font-size: 30px;
     flex: 2 0 auto;
     align-self: auto;
     flex: 1 1 14em;
}
